.p-Home.navbarContainer,
.p-Home.HeroContainer,
.p-Home.ProjectSectionContainer,
.p-Home.ProjectSectionContainer,
.p-Home.AboutMeSectionContainer {
    margin: 0 auto;
}

.p-Home.SectionDivider1,
.p-Home.SectionDivider2,
.p-Home.SectionDivider3 {
    margin: 4em auto;
}

.p-Home.Link5 a,
.p-Home.Link6 a,
.p-Home.Link12 a,
.LinkViewProject1 a,
.LinkViewProject2 a,
.LinkViewProject3 a,
.p-Home.Link11 a {
    text-decoration: none;
    color: #000;
}